/* Styles for the Footer */
footer {
	border-top: 1px solid #CCCCCC;
	text-align: center;
	background: #F6F6F6;
	padding: 20px;
	color: #888888;
	font-size: 12px;
}

/* Link Styles for the Footer */
footer a {
	color: #888888;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
